body{
background: white;    
}

.col-lg-3.card-container{
    width: 330px;
    height: 200px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 20px;
}

.card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 20px;
    margin: 10px 0px;
    transition: all 0.7s ease;
}
.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card-box:hover .icon {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card-box .inner {
    padding: 5px 0px 0 10px;
}
.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 18px 0;
    white-space: nowrap;
    padding: 0 0 0 0;
    text-align: left;
}

.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    top: 2px;
    z-index: 0;
    font-size: 72px;
   color: #dfa24b;
}
.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}




p.content{
    font-size: 60px;
    font-weight: 700;
    margin-top: -30px;
}



.bg-blue {
    background-color: #222c3c !important;
}
.bg-green {
    background-color: #222c3c !important;
}
.bg-orange {
    background-color: #222c3c !important;
}
.bg-red {
    background-color: #222c3c !important;
}
