.heading-icon {
    font-size: 50px;
    margin-top: 10px;
    color: white;
}

.heading {
    font-size: 40px;
    font-weight: 1000;
    color: white;
}

@media (max-width: 400px) {
    .heading-icon {
        font-size: 50px;
        margin-top: 10px;
        color: white; /* Change text color to white */
    }

    .heading {
        font-size: 35px;
        margin-left: 30px;
        font-weight: 1000;
        color: white; /* Change text color to white */
    }
}
