
table{
    border: 1px solid black;
    width: auto; 
    min-width: 95%;
    table-layout: fixed;
    margin: 2%;
}
th, td{
    padding: 8px 8px 8px 8px;
    border: 1px solid black;

}
th{
        background-color: #dfa24b;
    color: #FEFEFE;
}
.view, .update, .delete{
    padding: 0 0 0 10px;
    font-size: 33px;
    cursor: pointer;
}
.view{
    color: saddlebrown;
}
.update{
    color: royalblue;
}
.delete{
    color: red;
}

.popup{
    width: 600px;
}
.table-container{
  width: 100%;
  overflow-x: auto;
}
button.pdfbutton{
    background-color: blue;
    padding: 5px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

button.pdfbutton:hover{
    background-color: white;
    color: blue;
}
button.xlbutton{
    background-color: green;
   
}
button.xlbutton:hover{
    background-color: white;
    color: green;
}